* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
}


.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;

  background-color: black;
}

.main-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 340px;
  margin-top: 10px;
}

.main-container header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container header .header-top .logo {
  font-size: 18px;
  color: #f5b86e;
}

.main-container header .header-bot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-top: 5px;
}

.main-container header .header-bot .submenu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container header .header-bot p {
  margin-left: 5px;
  color: #f5b86e;
}

.main-container .main-container {
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.main-container .main-container .section-container {
  height: 100vh;
  scroll-snap-align: start;
}

.main-container .main-container .swiper-container {
  margin-top: 40px;
  width: 100%;
  height: 100vh;
}

.main-container .main-container .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.main-container .main-container .swiper-container .slide1 {
  background-color: brown;
}

.main-container .main-container .swiper-container .slide2 {
  background-color: grey;
}

.main-container .main-container .swiper-container .slide3 {
  background-color: #f5b86e;
}

.main-container .main-container .swiper-container .swiper-button-prev, .main-container .main-container .swiper-container .swiper-button-next {
  color: white;
}

.main-container .main-container .scroll-arrow {
  margin-top: 50px;

}

.main-container h1 {
  margin-top: 50px;
  text-align: center;
  width: 85%;
  font-size: 20px;
  line-height: 40px;
}

@media (min-width: 1200px) {
  .main-container h1 {
    margin-top: 50px;
    font-size: 30px;
  }
}

.main-container .logo {
  width: 80%;
  margin: 30px 0px 30px 0px;
}

@media (min-width: 1200px) {
  .main-container .logo {
    width: 25%;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

.main-container .prox-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 80%;
}

@media (min-width: 1200px) {
  .main-container .prox-container {
    margin-top: 30px;
  }
}

.main-container .prox-container h2 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 8px;
}

@media (min-width: 1200px) {
  .main-container .prox-container h2 {
    font-size: 20px;
    letter-spacing: 10px;
  }
}

.main-container .prox-container p {
  font-size: 14px;
  margin-top: 15px;
}

@media (min-width: 1200px) {
  .main-container .prox-container p {
    font-size: 16px;
    margin-top: 20px;
  }
}

.main-container .social-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  width: 200px;
}

.main-container .social-container .ig-icon {
  width: 50px;
}

.main-container .social-container .fb-icon {
  width: 50px;
}

@media (min-width: 1200px) {
  .main-container .social-container {
    margin-top: 20px;
  }

}
/*# sourceMappingURL=style.css.map */