* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

    background-color: black;

    header {
        display: flex;
        flex-direction: column;
        width: 340px;

        margin-top: 10px;

        .header-top {
            display: flex;
            justify-content: space-between;

            .logo {
                font-size: 18px;
                color: #f5b86e;
            }
        }

        .header-bot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            margin-top: 5px;

            .submenu-item {
                display: flex;
                align-items: center;
            }

            p {
                margin-left: 5px;
                color: #f5b86e;
            }
        }
    }

    .main-container {
        height: 100vh;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;

        .section-container {
            height: 100vh;
            scroll-snap-align: start;
        }



        .swiper-container {
            margin-top: 40px;
            width: 100%;
            height: 100vh;
    
            .swiper-slide {
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
            }
    
            .slide1 {
                background-color: brown;
            }
    
            .slide2 {
                background-color: grey;
            }
    
            .slide3 {
                background-color: #f5b86e;
            }
    
            .swiper-button-prev, .swiper-button-next {
                color: white;
            }
        }
    
        .scroll-arrow {
            margin-top: 50px;
        }
    }

    
}
